/* CSS do tabelki Krwiodawcy */

.Tabelka-krwiodawcy {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.Tabelka-krwiodawcy th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(172, 145, 51, 0.07);
    color: rgba(213, 107, 47, 1);
}

.Tabelka-krwiodawcy td {
    border: 2px solid #AC9233;
    padding: 8px;
}

.Tabelka-krwiodawcy tr {
    background-color: white;
}
