<!-- FORMULARZ -->
<div class="form">
    <div class="form-tytul">
        <span class="tytul2"><h2>Edycja obiektu</h2></span>
    </div>

    <form action="{{ url_for('routes.edit_obiekt', obiekt_id=obiekt.Id) }}" method="POST">
        <label for="nazwa">Nazwa Obiektu:</label>
        <input type="text" name="nazwa" id="nazwa" value="{{ obiekt.Nazwa }}" required><br>
        <label for="klient">Klient:</label>
        <input type="text" name="klient" id="klient" value="{{ obiekt.Klient }}" required><br>
        <label for="ulica">Ulica:</label>
        <input type="text" name="ulica" id="ulica" value="{{ obiekt.Ulica }}" required><br>
        <label for="numer_budynku">Numer Budynku:</label>
        <input type="text" name="numer_budynku" id="numer_budynku" value="{{ obiekt.Numer_Budynku }}" required><br>
        <label for="kod_pocztowy">Kod Pocztowy:</label>
        <input type="text" name="kod_pocztowy" id="kod_pocztowy" value="{{ obiekt.Kod_pocztowy }}" required><br>
        <label for="miasto">Miasto:</label>
        <input type="text" name="miasto" id="miasto" value="{{ obiekt.Miasto }}" required><br>
        <label for="czynnosc">Czynność:</label>
        <input type="text" name="czynnosc" id="czynnosc" value="{{ obiekt.Czynnosc }}" required><br>
        <label for="ilosc_bram">Ilość Bram:</label>
        <input type="number" name="ilosc_bram" id="ilosc_bram" value="{{ obiekt.Ilosc_bram }}" required><br>
        <label for="uwagi">Uwagi:</label>
        <textarea name="uwagi" id="uwagi">{{ obiekt.Uwagi }}</textarea><br>
        <label for="zrobione">Zrobione?</label>
        <input type="checkbox" name="zrobione" id="zrobione" {% if obiekt.Zrobione %}checked{% endif %}><br>
        <button type="submit">Zapisz zmiany</button>
    </form>
</div>
<!-- Formularz -->
