html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kropelka</title>
        <link rel="stylesheet" href="{{url_for('static', filename='public/interfejs-test.css')}}">
    </head>
    <body>
        <div class="calosc">
        <div class="nag">
            <!-- Naglowek -->
            <!--<div class="naglowek"></div>-->
            <div class="i_logo">
                <img src="{{url_for('static', filename='grafiki/logo.png')}}" alt="Logo Kropleka" width="100" height="100">
            </div>
            <span class="rckik">
                    Centrum Krwiodawstwa i Krwiolecznistwa w Opolu
            </span>
            <span class="naglowek_tekst">Witaj, Katarzyno!</span>
            <div class="i_chat">
                <img src="{{url_for('static', filename='grafiki/ikona_chat.png')}}" alt="ikona chat" width="60" height="60">
            </div>
            <div class="user">
                <img src="{{url_for('static', filename='grafiki/user2.png')}}" alt="ikona chat" width="60" height="60">
            </div>
            <div class="linia1"></div>
        </div>
            <!-- Naglowek -->

            <!-- Menu -->
            <div class="menu_tytul">Menu główne</div>

            <div class="menu">
                <a href=""><div class="menu_element"><div class="menu_ikona m_i_buzka"></div><span class="menu_tekst">Nowy pacjent</span></div></a>
                <a href=""><div class="menu_element"><div class="menu_ikona m_i_lupa_plus"></div><span class="menu_tekst">Wyszukaj pacjenta</span></div></a>
                <a href=""><div class="menu_element"><div class="menu_ikona m_i_strzykawka"></div><span class="menu_tekst">Pobierz krew</span></div></a>
                <a href=""><div class="menu_element"><div class="menu_ikona m_i_wykres"></div><span class="menu_tekst">Wyniki badań</span></div></a>
                <a href=""><div class="menu_element"><div class="menu_ikona m_i_lista"></div><span class="menu_tekst">Lista zadań</span></div></a>
                <a href="/"><div class="menu_element"><div class="menu_ikona"></div><span class="menu_tekst">Powrót</span></div></a>
            </div>

            <div class="linia2"></div>
            <!-- Menu -->

            <!-- Obszar główny -->
            <div class="i_lupa_minus"></div>
            <span class="glowny_tytul">Wyszukaj pacjenta</span>

                <!-- Tabelka -->

            <!-- Obszar główny -->

            <!-- Stopka -->
            <div class="stopka"></div>
            <span class="wersja">wersja programu 1.16.2</span>
            <div class="linia3"></div>
            <!-- Stopka -->
        </div>
    </body>
</html>