<!-- NAGLOWEK -->
<div class="naglowek">
    <div class="nag">
        <table class="naglowek-tab"><tr>
        <td class="td-nag td-n1">
            <a href="/"><img class="i_logo" src="http://inz.jelen.smallhost.pl/grafiki/logo.svg" alt="Logo Serwis"></a>
        </td>
        <td class="td-nag td-n2"><span class="rckik">Serwis Bram <br> Przeciwpożarowych</span></td>
        <td class="td-nag td-n3"><span class="naglowek_tekst"> </span></td>
        <td class="td-nag td-n5"><a href="/tabela"><span class="naglowek_tekst">Tabela</span></a></td>
        <td class="td-nag td-n5"><span class="naglowek_tekst">Mapa</span></td>
        <td class="td-nag td-n5"><span class="naglowek_tekst">O projekcie</span></td>
        <td class="td-nag td-n5"><span class="naglowek_tekst">Kontakt</span></td>
        </tr></table>
    </div>
    <div class="linia1"></div>
</div>
<!-- NAGLOWEK -->
