{% set currentMode = mode %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        {{ css|safe }}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Nobody knows</title>
        {% endif %}
        <script src="https://www.google.com/recaptcha/enterprise.js?render=6LebTSYmAAAAAOJrSmLVi_rOj-U6CgjT-zHQ_bfL"></script>
        <script>
            function onRecaptchaLoad() {
                grecaptcha.enterprise.ready(function() {
                    grecaptcha.enterprise.execute('6LebTSYmAAAAAOJrSmLVi_rOj-U6CgjT-zHQ_bfL', {action: 'login'}).then(function(token) {
                    });
                });
            }
        </script>
    </head>
    <body class="body {{ currentMode }}">
        {{ naglowek|safe }}

        <!-- uklad 2 kolumn - menu i obszar glowny -->
        <div class="row">
            <div class="column right">
                <div class="tresc">
                    {{ tresc|safe }}
                </div>
            </div>
        </div>
        <!-- uklad 2 kolumn - menu i obszar glowny -->
        {{ stopka|safe }}
        <script>
            // Pobierz aktualny tryb z lokalnego magazynu przeglądarki
            let currentMode = localStorage.getItem('mode');

            // Jeśli tryb nie jest ustawiony, ustaw domyślny tryb jasny
            if (!currentMode) {
                currentMode = 'light-mode';
                localStorage.setItem('mode', currentMode);
            }
            // Ustaw odpowiednie style dla strony
            document.body.classList.add(currentMode);

            function toggleMode() {
                const body = document.body;
                const modeToggle = document.getElementById('mode-toggle');
                const table = document.getElementById('myTable');
                const table2 = document.getElementById('myTable2');
                const logo = document.getElementById('myLogo');

                // Sprawdź aktualny tryb
                const currentMode = body.classList.contains('dark-mode') ? 'dark-mode' : 'light-mode';

                // Zmień tryb na przeciwny
                const newMode = currentMode === 'dark-mode' ? 'light-mode' : 'dark-mode';

                // Zaktualizuj klasę body
                body.classList.remove(currentMode);
                body.classList.add(newMode);

                // Zaktualizuj klasę tabel i logo
                table.classList.remove(currentMode === 'dark-mode' ? 'table-dark' : 'table-succes');
                table.classList.add(currentMode === 'dark-mode' ? 'table-succes' : 'table-dark');
                table2.classList.remove(currentMode === 'dark-mode' ? 'table-dark' : 'table-succes');
                table2.classList.add(currentMode === 'dark-mode' ? 'table-succes' : 'table-dark');
                logo.classList.remove(currentMode === 'dark-mode' ? 'logo-dark' : 'logo-light');
                logo.classList.add(currentMode === 'dark-mode' ? 'logo-light' : 'logo-dark');

                // Zapisz aktualny tryb w lokalnym magazynie przeglądarki
                localStorage.setItem('mode', newMode);
            }
        </script>
    </body>
</html>
