<!-- Logowanie -->
<div class="form">
    <div class="form-tytul">
        <span class="tytul2"><h2>Logowanie</h2></span>
    </div>


    <form>
        <div class="projekt">
              <div class="form-group">
                  <label for="exampleInputEmail1"><span class="tekst2">Adres email</span></label>
                  <input type="email" class="pole4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tu wpisz email">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1"><span class="tekst2">Hasło</span></label>
                  <input type="password" class="pole4" id="exampleInputPassword1" placeholder="Password">
              </div>

        <button class="reset" type="reset">Reset</button>
        <button name="button_loguj" id="button_loguj" type="submit" class="loguj">Zaloguj</button> &nbsp;
        </div>
        <br><br><br>
    </form>
</div>
<!-- Logowanie -->
