<!-- Logowanie -->
<div class="form">
    <div class="form-tytul">
        <div class="ikona2"></div>
        <span class="tytul2">Poziomy krwi</span>
    </div>


    <form>
        <div class="gora">
              <div class="form-group">
                  <label for="exampleInputEmail1"><span class="tekst2">Tu wkleić poziomy krwi</span></label>
              </div>
            <br>
        </div>
        <br><br><br><br><br><br><br><br><br>



        <br><br><br>
    </form>
</div>
<!-- Logowanie -->
